; specification of the target machine
{:existing [{:node-name "test-vm1"            ; not yet used
             :node-ip "192.168.56.105"}]      ; ip of the target machine

; specification and credential of the user on target machine,
; which is used to connect to the target machine by ssh
 :provisioning-user {:login "initial"         ; username on target machine
                     :password "secure1234"}} ; password of user above
